
 {{> title header='Завдання 1' description='Зробіть елемент .task1 сітковим блочним контейнером'}} 

<div class="wrapper">
  <img src="img/div.container.png"/>
  <div class="container">
    <div class='task1 task'>
      Grid lesson
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 2' description='Зробіть елемент .task2 сітковим рядковим контейнером'}} 
<div class="wrapper">
  <img src="img/div.container-1.png"/>
  <div class="container">
    <div class='task2 task'>
      Grid lesson
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div> 

 {{> title header='Завдання 3' description='Для елемента .task3 встановіть відступи між елементами .item 25рх між рядками та 10рх між колонками'}} 
<div class="wrapper">
  <img src="img/div.container-2.png"/>
  <div class="container">
    <div class='task3 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 4' description='Для елемента .task4 виведіть елементи .item в порядку показаному на картинці'}} 
<div class="wrapper">
  <img src="img/div.container-3.png"/>
  <div class="container">
    <div class='task4 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 5' description='Для елемента .task5 розмістіть елементи .item на початку першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-4.png"/>
  <div class="container">
    <div class='task5 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 6' description='Для елемента .task6 розмістіть елементи .item в кінці першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-5.png"/>
  <div class="container">
    <div class='task6 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 7' description='Для елемента .task7 розмістіть елементи .item по центру першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-6.png"/>
  <div class="container">
    <div class='task7 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 8' description='Для елемента .task8 розмістіть елементи .item рівномірно без відступів від країв по першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-7.png"/>
  <div class="container">
    <div class='task8 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 9' description='Для елемента .task9 розмістіть елементи .item з однаковими відстанями між ними та з меншим відступом від країв контейнера по першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-8.png"/>
  <div class="container">
    <div class='task9 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 10' description='Для елемента .task10 розмістіть елементи .item рівномірно по першій лінії з однаковими відстанями між елементами та країв блоку'}} 
<div class="wrapper">
  <img src="img/div.container-9.png"/>
  <div class="container">
    <div class='task10 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 11' description='Для елемента .task11 розмістіть елементи .item так щоб вони заповнили всю першу линію'}} 
<div class="wrapper">
  <img src="img/div.container-10.png"/>
  <div class="container ">
    <div class='task11 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 12' description='Для елемента .task12 розмістіть елементи .item на початку другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-11.png"/>
  <div class="container  ">
    <div class='task12 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 13' description='Для елемента .task13 розмістіть елементи .item в кінці другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-12.png"/>
  <div class="container ">
    <div class='task13 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 14' description='Для елемента .task14 розмістіть елементи .item по центру другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-13.png"/>
  <div class="container ">
    <div class='task14 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 15' description='Для елемента .task15 розмістіть елементи .item так щоб вони заповнили всю другу линію'}} 
<div class="wrapper">
  <img src="img/div.container-14.png"/>
  <div class="container ">
    <div class='task15 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 16' description='Для елемента .task16 розмістіть елементи .item рівномірно без відступів від країв по другій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-15.png"/>
  <div class="container ">
    <div class='task16 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 17' description='Для елемента .task17 розмістіть елементи .item з однаковими відстанями між ними та з меншим відступом від країв контейнера по другій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-16.png"/>
  <div class="container ">
    <div class='task17 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 18' description='Для елемента .task18 розмістіть елементи .item рівномірно по другій лінії з однаковими відстанями між елементами та країв блоку'}} 
<div class="wrapper">
  <img src="img/div.container-17.png"/>
  <div class="container ">
    <div class='task18 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 19' description='Для елемента .task19 розмістіть елементи .item на початку першої лінії та по центру другїй лінії'}} 
<div class="wrapper">
  <img src="img/div.container-18.png"/>
  <div class="container ">
    <div class='task19 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>


 {{> title header='Завдання 20' description='Для елемента .task20 вирівняйте елементи .item на початку першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-19.png"/>
  <div class="container  ">
    <div class='task20 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 21' description='Для елемента .task21 вирівняйте елементи .item в кінці першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-20.png"/>
  <div class="container ">
    <div class='task21 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 22' description='Для елемента .task22 вирівняйте елементи .item по центру першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-21.png"/>
  <div class="container ">
    <div class='task22 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 23' description='Для елемента .task23 вирівняйте елементи .item так щоб вони заповнили всю першу линію'}} 
<div class="wrapper">
  <img src="img/div.container-22.png"/>
  <div class="container ">
    <div class='task23 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 24' description='Для елемента .task24 вирівняйте елементи .item на початку другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-23.png"/>
  <div class="container">
    <div class='task24 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 25' description='Для елемента .task25 вирівняйте елементи .item в кінці другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-24.png"/>
  <div class="container">
    <div class='task25 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 26' description='Для елемента .task26 вирівняйте елементи .item по центру другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-25.png"/>
  <div class="container">
    <div class='task26 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 27' description='Для елемента .task27 вирівняйте елементи .item так щоб вони заповнили всю першу линію'}} 
<div class="wrapper">
  <img src="img/div.container-26.png"/>
  <div class="container">
    <div class='task27 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 28' description='Для елемента .task28 вирівняйте елементи .item по тексту на другій линії'}} 
<div class="wrapper">
  <img src="img/div.container-27.png"/>
  <div class="container">
    <div class='task28 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item item3'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 29' description='Для елемента .task29 вирівняйте елементи .item по центру першої лінії та розтяніть по другїй лінії'}} 
<div class="wrapper">
  <img src="img/div.container-28.png"/>
  <div class="container ">
    <div class='task29 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 30' description='Для елемента .task30 вирівняйте елемент .item1 по початку першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-29.png"/>
  <div class="container ">
    <div class='task30 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 31' description='Для елемента .task31 вирівняйте елемент .item2 по краю першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-30.png"/>
  <div class="container ">
    <div class='task31 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 32' description='Для елемента .task32 вирівняйте елемент .item3 по центру першої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-31.png"/>
  <div class="container ">
    <div class='task32 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 33' description='Для елемента .task33 розтяніть елемент .item4 по першій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-32.png"/>
  <div class="container ">
    <div class='task33 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>



 {{>  title header='Завдання 34' description='Для елемента .task34 вирівняйте елемент .item1 по початку другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-33.png"/>
  <div class="container ">
    <div class='task34 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 35' description='Для елемента .task35 вирівняйте елемент .item2 по краю другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-34.png"/>
  <div class="container ">
    <div class='task35 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 36' description='Для елемента .task36 вирівняйте елемент .item3 по центру другої лінії'}} 
<div class="wrapper">
  <img src="img/div.container-35.png"/>
  <div class="container ">
    <div class='task36 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 37' description='Для елемента .task37 розтяніть елемент .item4 по другій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-36.png"/>
  <div class="container ">
    <div class='task37 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item6'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

 {{>  title header='Завдання 38' description='Для елемента .task38 вирівняйте елемент .item5 по початку першої лінії,та по центру другій лінії'}} 
<div class="wrapper">
  <img src="img/div.container-37.png"/>
  <div class="container ">
    <div class='task38 task'>
       <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div>

{{> title header='Завдання 39' description='Для елемента .task39 розмістіть елементи .item в три рядки з відношенням розмірів 1/2/3'}} 
<div class="wrapper">
  <img src="img/div.container-38.png"/>
  <div class="container">
    <div class='task39 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 40' description='Для елемента .task40 розмістіть елементи .item в два стовпці з розміром по контенту але не більше 30% та 70% відповідно'}} 
<div class="wrapper">
  <img src="img/div.container-39.png"/>
  <div class="container">
    <div class='task40 task'>
      <div class='item'>
        1 2 3 4 5 
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5 
      </div>
      <div class='item'>
          6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
      </div>
    </div>
  </div>
</div>

{{> title header='Завдання 41' description='Для елемента .task41 розмістіть елементи .item в три рядки з розмірами від 110px до 30% ,та два стовпці з однаковим відношенням розмірів (використовуйте функцію поторення)'}} 
<div class="wrapper">
  <img src="img/div.container-40.png"/>
  <div class="container">
    <div class='task41 task'>
      <div class='item'>
        1
      </div>
      <div class='item'>
        2
      </div>
      <div class='item'>
        3
      </div>
      <div class='item'>
        4
      </div>
      <div class='item'>
        5
      </div>
      <div class='item'>
          6
      </div>
    </div>
  </div>
</div>


{{> title header='Завдання 42' description='Для елемента .task42 використовуючи шаблон області розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-41.png"/>
  <div class="container">
    <div class='task42 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 43' description='Для елемента .task43 використовуючи стовпці сітки розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-42.png"/>
  <div class="container">
    <div class='task43 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 44' description='Для елемента .task44 використовуючи рядки сітки розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-43.png"/>
  <div class="container">
    <div class='task44 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 45' description='Для елемента .task45 використовуючи область сітки розмістіть елементи .item в відповідності з зображенням'}} 
<div class="wrapper">
  <img src="img/div.container-44.png"/>
  <div class="container">
    <div class='task45 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 46' description='Для елемента .task46 використовуючи автоматичні стовпці, розмістіть елементи .item в два стовпці, ширина першого має бути відповідною до мінімального вмісту елементів, а другого максимальною'}} 
<div class="wrapper">
  <img src="img/div.container-45.png"/>
  <div class="container">
    <div class='task46 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2 2 2 2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        55 5 5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 47' description='Для елемента .task47 використовуючи автоматичні рядки, розмір яких має бути відповідним до мінімального вмісту елементів'}} 
<div class="wrapper">
  <img src="img/div.container-46.png"/>
  <div class="container">
    <div class='task47 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 48' description='Для елемента .task48 використовуючи автоматичне розміщення, розмістіть елементи по рядкам'}} 
<div class="wrapper">
  <img src="img/div.container-47.png"/>
  <div class="container">
    <div class='task48 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 49' description='Для елемента .task49 використовуючи автоматичне розміщення, розмістіть елементи по стовбцям'}} 
<div class="wrapper">
  <img src="img/div.container-48.png"/>
  <div class="container">
    <div class='task49 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 50' description='Для елемента .task50 використовуючи автоматичне розміщення, розмістіть елементи якомога ближче один до одного, заповнюючи всі можливі проміжки'}} 
<div class="wrapper">
  <img src="img/div.container-49.png"/>
  <div class="container">
    <div class='task50 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 51' description='Для елемента .task51 автоматично згенеруйте стовбці з широную від 100px до 1fr, зберігаючи мінімальній розмір'}} 
<div class="wrapper">
  <img src="img/div.container-50.png"/>
  <div class="container">
    <div class='task51 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 52' description='Для елемента .task52 автоматично згенеруйте стовбці з широную від 100px до 1fr, з повним заповненням простору'}} 
<div class="wrapper">
  <img src="img/div.container-51.png"/>
  <div class="container">
    <div class='task52 task'>
      <div class='item item1'>
        1
      </div>
      <div class='item  item2'>
        2
      </div>
      <div class='item  item3'>
        3
      </div>
      <div class='item  item4'>
        4
      </div>
      <div class='item item5'>
        5
      </div>
      <div class='item item6'>
          6
      </div>
    </div>
  </div>
</div> 