.task1 {
}

.task2 {
}

.task3 {
  display: grid;
}

.task4 {
  display: grid;
}
.task4 .item2 {
}
.task4 .item4 {
}
.task4 .item3 {
}

.task5 {
  display: grid;
}

.task6 {
  display: grid;
}

.task7 {
  display: grid;
}

.task8 {
  display: grid;
}

.task9 {
  display: grid;
}

.task10 {
  display: grid;
}

.task11 {
  display: grid;
}

.task12 {
  display: grid;
}

.task13 {
  display: grid;
}

.task14 {
  display: grid;
}

.task15 {
  display: grid;
}

.task16 {
  display: grid;
}

.task17 {
  display: grid;
}

.task18 {
  display: grid;
}

.task19 {
  display: grid;
}

.task20 {
  display: grid;
}

.task21 {
  display: grid;
}

.task22 {
  display: grid;
}

.task23 {
  display: grid;
}

.task24 {
  display: grid;
}

.task25 {
  display: grid;
}

.task26 {
  display: grid;
}

.task27 {
  display: grid;
}

.task28 {
  display: grid;
}

.task29 {
  display: grid;
}

.task30 {
  display: grid;
}
.task30 .item1 {
}

.task31 {
  display: grid;
}
.task31 .item2 {
}

.task32 {
  display: grid;
}
.task32 .item3 {
}

.task33 {
  display: grid;
}
.task33 .item4 {
}

.task34 {
  display: grid;
}
.task34 .item1 {
}

.task35 {
  display: grid;
}
.task35 .item2 {
}

.task36 {
  display: grid;
}
.task36 .item3 {
}

.task37 {
  display: grid;
}
.task37 .item4 {
}

.task38 {
  display: grid;
}
.task38 .item5 {
}

.task39 {
  display: grid;
}

.task40 {
  display: grid;
}

.task41 {
  display: grid;
}

.task42 {
  display: grid;
}
.task42 .item1 {
}
.task42 .item2 {
}
.task42 .item3 {
}
.task42 .item4 {
}
.task42 .item5 {
}
.task42 .item6 {
}

.task43 {
  display: grid;
}
.task43 .item3 {
}

.task44 {
  display: grid;
}
.task44 .item3 {
}

.task45 {
  display: grid;
}
.task45 .item3 {
}

.task46 {
  display: grid;
}

.task47 {
  display: grid;
}

.task48 {
  display: grid;
}

.task50 {
  display: grid;
}

.task49 {
  display: grid;
}

.task51 {
  display: grid;
}

.task52 {
  display: grid;
}
